@tailwind components;
@tailwind base;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #369f9dff;
  /* --primary-color: #4aab3d; */
  --primary-color-fade: #369f9dc4;

  --dark-1: #1e2227;
  --dark-2: #072032;
  --dark-3: #051b36;
  --dark-3-80: #051b36f3;

  --text-1: #5c6972;
  --text-2: #9b9b9b;
  --text-3: #b0b6bc;
  --text-4: #d2d8e0ff;

  --light-blue-grey-1: #f5f7fa;

  --light-green-1: #e4f3e2;
  --light-green-2: #e7f8f0;
  --light-green-3: #e9faf3ff;

  --dark-blue-1: #003973;
  --dark-blue-2: #000024;
  --dark-blue-3: #002850;
  --dark-blue-3-beta: #002850cc;

  --yellow: #fec51b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

button {
  cursor: pointer;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
    scale: 1;
  } /* Start and end at full opacity */
  50% {
    opacity: 0.6;
    scale: 0.8;
  } /* Dip to lower opacity in the middle */
}

.hover-flicker:hover {
  animation: flicker 0.7s ease-in-out;
}

.group-hover-flicker {
  animation: none; /* Ensure no animation by default */
}

.group:hover .group-hover-flicker {
  animation: flicker 0.7s ease-in-out; /* Run animation once on group hover */
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  16.6% {
    transform: rotate(10deg);
  }
  33.3% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  66.6% {
    transform: rotate(-10deg);
  }
  83.3% {
    transform: rotate(10deg);
  }
}

.hover-shake:hover {
  animation: shake 0.7s ease-in-out;
}

.group-hover-shake {
  animation: none;
}

.group:hover .group-hover-shake {
  animation: shake 0.7s ease-in-out;
}

@keyframes shake-rotate-five {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  15% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  35% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  45% {
    transform: rotate(0deg);
  }

  /* Pause */
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake-rotate-five 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.bounce {
  animation: bounce 2s infinite ease-in-out;
}
